$snapchat: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+PHBhdGggZmlsbD0iIzIzMUYyMCIgZD0iTTEyLjUgMkM2LjcxMSAyIDIgNi43MSAyIDEyLjUgMiAxOC4yODkgNi43MTEgMjMgMTIuNSAyMyAxOC4yOSAyMyAyMyAxOC4yODkgMjMgMTIuNSAyMyA2LjcxIDE4LjI5IDIgMTIuNSAyem02LjUwMyAxMy43ODVjLS4xMzMuMzExLS42OTQuNTM4LTEuNzE5LjY5Ny0uMDM0LjA0NS0uMDY5LjIwOS0uMDkxLjMwOGE0Ljk3NCA0Ljk3NCAwIDAgMS0uMDc1LjMwNC4yOTYuMjk2IDAgMCAxLS4zMDIuMjI4aC0uMDE4Yy0uMDcgMC0uMTcxLS4wMTMtLjI5NS0uMDM2YTMuNDA4IDMuNDA4IDAgMCAwLS42OTUtLjA3NGMtLjE2MiAwLS4zMy4wMTUtLjQ5OC4wNDMtLjMzLjA1Ni0uNjEuMjUzLS45MzguNDgxLS40NjUuMzI5LS45OTEuNy0xLjc5My43LS4wMzYgMC0uMDY5IDAtLjA5Ni0uMDAyLS4wMjEuMDAyLS4wNDQuMDAyLS4wNjUuMDAyLS44MDIgMC0xLjMyOC0uMzcxLTEuNzk0LS43LS4zMjUtLjIyOS0uNjA1LS40MjktLjkzNi0uNDgxYTMuMDc3IDMuMDc3IDAgMCAwLS40OTktLjA0M2MtLjI5MyAwLS41MjYuMDQ2LS42OTYuMDc5LS4xMTMuMDIxLS4yMTEuMDQxLS4yOTQuMDQxYS4zMDQuMzA0IDAgMCAxLS4zMTctLjIzIDQuMTM0IDQuMTM0IDAgMCAxLS4wNzUtLjMwN2MtLjAyMS0uMS0uMDU4LS4yNjQtLjA5Mi0uMzExLTEuMDIzLS4xNTgtMS41ODUtLjM4OS0xLjcxOS0uNjk3YS4zNTUuMzU1IDAgMCAxLS4wMjgtLjEyMi4yNy4yNyAwIDAgMSAuMjI2LS4yODJjMS43NzYtLjI5MyAyLjU3Ni0yLjExNSAyLjYwOS0yLjE5M2wuMDA2LS4wMTNjLjA5NS0uMTkxLjExNS0uMzU0LjA2Mi0uNDc5LS4xMDMtLjI0Mi0uNDgtLjM2Mi0uNzI5LS40NDFhMi42NDUgMi42NDUgMCAwIDEtLjE5LS4wNjNjLS42MDUtLjIzOS0uNjg5LS41MTUtLjY1NC0uNzAyLjA1LS4yNjMuMzY4LS40MzguNjM1LS40MzguMDc3IDAgLjE0Ni4wMTUuMjA3LjA0Mi4yMjguMTA3LjQzLjE2MS42MDIuMTYxYS41MTcuNTE3IDAgMCAwIC4yNTQtLjA1NiAzMS42OTcgMzEuNjk3IDAgMCAxLS4wMi0uMzE3Yy0uMDU2LS44ODktLjEyNS0xLjk5My4xNjQtMi42NDMuODYyLTEuOTMzIDIuNjg4LTIuMDgyIDMuMjI4LTIuMDgybC4yMjctLjAwMmguMDMyYy41NCAwIDIuMzcxLjE0OSAzLjIzIDIuMDgzLjI5MS42NDkuMjIzIDEuNzU1LjE2NiAyLjY0M2wtLjAwMy4wMzctLjAxOC4yOGMuMDQuMDIxLjExMS4wNDkuMjIxLjA1NC4xNjItLjAwNy4zNTQtLjA2MS41NjItLjE2YS41OTkuNTk5IDAgMCAxIC4yNS0uMDVjLjA5NCAwIC4xODkuMDE4LjI3MS4wNTIuMjQxLjA4Ni4zOTYuMjYyLjM5Ny40NTYuMDA1LjI0OS0uMjIuNDYzLS42NjEuNjM4YTIuNzEzIDIuNzEzIDAgMCAxLS4xODguMDY0Yy0uMjUuMDc5LS42MjkuMTk5LS43My40NDEtLjA1My4xMjUtLjAzMS4yODUuMDYyLjQ3OGwuMDA2LjAxNWMuMDMzLjA3OC44MzIgMS44OTkgMi42MDggMi4xOTJhLjI3Mi4yNzIgMCAwIDEgLjIyOC4yODEuMjc4LjI3OCAwIDAgMS0uMDI1LjEyNHoiLz48L3N2Zz4=");
;

.snapchat-full, .snapchat-full, .snapchat-huge, .snapchat-large, .snapchat-medium, .snapchat-small, .snapchat-tiny {
  background: $snapchat;
  background-repeat: no-repeat;
}
 
.snapchat-full {
	width: 40px;
	height: 40px;
  background-size: 40px 40px;
}

.snapchat-huge {
	width: 30px;
	height: 30px;
  background-size: 30px 30px;
}

.snapchat-large {
	width: 25px;
	height: 25px;
  background-size: 25px 25px;
}

.snapchat-medium {
	width: 20px;
	height: 20px;
  background-size: 20px 20px;
}

.snapchat-small {
	width: 15px;
	height: 15px;
  background-size: 15px 15px;
}

.snapchat-tiny {
	width: 8px;
	height: 8px;
  background-size: 8px 8px;
}
