<p class="cs-type-1">The Front Desk at Bloomie’s handles everything and anything you need—all with a smile—including:</p>
<ul class="cool-services-list">
<li>Virtual or in-person styling sessions featuring our amazing edit of top labels</li>
<li>Quick & easy delivery including same-day, curbside, or online pickup options</li>
<li>Wrapping up your gift in a bow</li>
<li>Monogramming and on-site alterations</li>
<li>Even snagging a designer bag straight from our 59th Street flagship!</li>
</ul>

<p>
<a class="book-appointment-link" href="https://ui.timetrade.ca/app/bloomingdales/workflows/bloomingdales004/schedule/?locationId=063MSC&ch=vanityURL" utag="bloomies book an appointment" target="_blank">BOOK AN APPOINTMENT</a>
</p>

<p>Or call <a href="tel:+1-703-962-3000" class="phone-link">(703) 962-3000</a></p>