<ul class="fresh-looks-brands-list">
	<li><strong>Women:</strong> AQUA, CULT GAIA, GANNI, LOVESHACKFANCY, MOTHER, RAG &amp; BONE, RE/DONE, SANDRO, STAUD</li>
	<li><strong>Men:</strong> ALLSAINTS, CANADA GOOSE, FRAME, HELMUT LANG, MCQ, SALVATORE FERRAGAMO, THEORY, VINCE</li>
	<li><strong>Shoes:</strong> BALENCIAGA, BIRKENSTOCK, CHLOÉ, GIVENCHY, GOLDEN GOOSE DELUXE BRAND, JIMMY CHOO, LOEFFLER RANDALL, ON, STELLA MCCARTNEY, UGG<sup>®</sup></li>
	<li><strong>Handbags:</strong> LONGCHAMP, MANSUR GAVRIEL, MCM, MZ WALLACE, SEE BY CHLOÉ, THE MARC JACOBS, TORY BURCH</li>
	<li><strong>Beauty:</strong> BYREDO, CREED, DIOR, DR. BARBARA STURM, LA MER, MAISON FRANCIS KURKDJIAN, SPACE NK, TOM FORD</li>
	<li><strong>&amp; SO MUCH MORE!</strong></li>
</ul>

<p>Mixing the <strong>top designers</strong> you already love with emerging <strong>labels you need to know</strong>, we’ve pulled together the <strong>best names</strong> in fashion and <strong>beauty</strong>, from A.L.C. to Zadig &amp; Voltaire, for style that fits every moment and mood. With <strong>weekly drops</strong> of the latest looks—and <strong>rotating carts</strong> stacked with <strong>truly unexpected finds</strong>—you’ll find something new to obsess over each and every visit.</p>