<div class="grid-x align-center">
	<div class="cell small-12 medium-11 large-8">
		<img src="https://via.placeholder.com/1200x1315" class="section-sizer" />

		<div id="fresh-looks-clouds-2" class="grid-item" data-speed="1" data-offset="0">
			<div class="media-player-div" data-loop="true" data-autoplay="true" data-controls="false" data-video-id="6258825144001"></div>
		</div>

		<div id="fresh-looks-title-2" class="grid-item" data-speed="4" data-offset="0">
			{{>img src="fresh-looks-header" format="PNG" alt="Fresh Looks"}}
		</div>

		<div id="fresh-looks-denim-2" class="grid-item" data-speed="3" data-offset="0">
			{{>img src="BLMMS_DENIM_ST01@2x" alt="Denim"}}
		</div>

		<div id="fresh-looks-glasses-2" class="grid-item" data-speed="10" data-offset="0">
			{{>img src="glasses" format="PNG" alt="Glasses"}}
		</div>

		<div id="fresh-looks-lamer-sneakers" class="grid-item" data-speed="10" data-offset="0">
			<div class="media-player-div" data-loop="true" data-autoplay="true" data-controls="false" data-video-id="6258840613001"></div>
		</div>

		<div id="fresh-looks-rtw-2" class="grid-item" data-speed="6" data-offset="0">
			{{>img src="rtw" format="PNG" alt="RTW"}}
		</div>

		<div id="fresh-looks-brands" class="grid-item" data-speed="7" data-offset="0">
			<ul>
				<li><strong>Women:</strong> MOTHER, STAUD, GANNI, RAG &amp; BONE, Rails, IRO</li>
				<li><strong>Men:</strong> BALENCIAGA, SALOMON, BARBOUR, HELMUT LANG, Givenchy, Alexander mcqueen</li>
				<li><strong>Beauty:</strong> la mer, space NK, Byredo, creed, dior, MFK</li>
				<li><strong>Accessories:</strong> Ganni, Birkenstock, Mansur Gavriel, Marc Jacobs, MCM &amp; many more!</li>
			</ul>

			<p>Mixing the <strong>top designers</strong> you already love with emerging <strong>labels you need to know</strong>, we’ve pulled together the <strong>best names</strong> in fashion and <strong>beauty</strong>, from A.L.C. to Zadig &amp; Voltaire, for style that fits every moment and mood. With <strong>weekly drops</strong> of the latest looks—and <strong>rotating carts</strong> stacked with <strong>truly unexpected finds</strong>—you’ll find something new to obsess over each and every visit.</p>
		</div>
<!--
		<div id="fresh-looks-type" class="grid-item" data-speed="1" data-offset="0">
			<p>Mixing the <strong>top designers</strong> you already love with emerging <strong>labels you need to know</strong>, we’ve pulled together the <strong>best names</strong> in fashion and <strong>beauty</strong>, from A.L.C. to Zadig & Voltaire, for style that fits every moment and mood. With <strong>weekly drops</strong> of the latest looks—and <strong>rotating carts</strong> stacked with <strong>truly unexpected finds</strong>—you’ll find something new to obsess over each and every visit.</p>
		</div>
-->


	</div>
</div>