<div class="grid-container">
	<div class="grid-x align-center">
		<div class="cell small-12 medium-12 large-10 parralax__layer--outer"><img src="https://via.placeholder.com/1200x848" class="section-sizer" />

			<div class="parallax__layer parallax__layer--base" id="fresh-looks-clouds">
				{{>img src="clouds@2x" alt="Clouds"}}
			</div>

			<div class="parallax__layer parallax__layer--4" id="fresh-looks-title">
				{{>img src="fresh-looks-header" format="PNG" alt="Fresh Looks"}}
			</div>

			<div class="parallax__layer parallax__layer--2" id="fresh-looks-denim">
				{{>img src="BLMMS_DENIM_ST01@2x" alt="Denim"}}
			</div>

			<div class="parallax__layer parallax__layer--3" id="fresh-looks-sneaker">
				{{>img src="sneaker@2x" alt="Sneaker"}}
			</div>

			<div class="parallax__layer parallax__layer--5" id="fresh-looks-glasses">
				{{>img src="glasses" format="PNG" alt="Glasses"}}
			</div>

			<div class="parallax__layer parallax__layer--6" id="fresh-looks-lamer">
				{{>img src="la-mer" format="PNG" alt="La Mer"}}
			</div>

			<div class="parallax__layer parallax__layer--2" id="fresh-looks-rtw">
				{{>img src="fresh-looks-rtw" format="PNG" alt="La Mer"}}
			</div>

			<!--<div class="parallax__layer parallax__layer--base" id="section-1_asset1">
				<img src="https://assets.codepen.io/80072/2103W2_LUXE_MSHOE_ST_LAURENT_ST03.png" />
			</div>

			<div class="parallax__layer parallax__layer--2" id="section-1_asset2">
				<img src="https://assets.codepen.io/80072/2107W1_BLOOMIES_MICROSITE_OF5-168_transpt.png" />
			</div>

			<div class="parallax__layer parallax__layer--3" id="section-1_asset3">
				<img src="https://assets.codepen.io/80072/750x1000_Tailoring_10+copy.png" />
			</div>

			<div class="parallax__layer parallax__layer--1" id="section-1_asset4">
				<img src="https://assets.codepen.io/80072/Mask-Group-3.png" />
			</div>

			<div class="parallax__layer parallax__layer--5" id="section-1_asset5">
				<img src="https://assets.codepen.io/80072/LM_SKU_5EXL01_63882_680x680_0.png" />
			</div>

			<div class="parallax__layer parallax__layer--2" id="section-1_asset6">
				<img src="https://assets.codepen.io/80072/sunglasses2.png" />
			</div>

			<div class="parallax__layer parallax__layer--4" id="section-1_asset7">
				<img src="https://assets.codepen.io/80072/FRESH+LOOKS.png" />
			</div>
			-->

			<div class="section-type parallax__layer parallax__layer--2">
				<p>Mixing the <strong>top designers</strong> you already love with emerging <strong>labels you need to know</strong>, we’ve pulled together the <strong>best names</strong> in fashion and <strong>beauty</strong>, from A.L.C. to Zadig & Voltaire, for style that fits every moment and mood. With <strong>weekly drops</strong> of the latest looks—and <strong>rotating carts</strong> stacked with <strong>truly unexpected finds</strong>—you’ll find something new to obsess over each and every visit.</p>
			</div>

		</div>
	</div>
</div>