@import '../foundation-6.4.4-rc1/scss/typography/base';

@mixin bloomies-typography-base {
  @include foundation-typography-base;

  h1,h2,h3,h4,.h1,.h2,.h3,.h4 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  h1,.h1 {
    letter-spacing: rem-calc(1.5);
    font-weight: 700;
  }

  h2,.h2 {
    letter-spacing: rem-calc(1.3);
    font-weight: 700;
  }

  h3,.h3 {
    letter-spacing: rem-calc(1);
    font-weight: 700;
  }

  ul {
      margin-top: 0;
  }

  p,
  .text {
    letter-spacing: rem-calc(0.8);
    margin-top: 0;
    line-height: rem-calc(22);
  }
  
  p {
    margin-bottom: 0;
  }
  
  .legal {
      font-size: rem-calc(12);
      line-height: rem-calc(20);
      color:$bloomiesBlackLightest;
  }
}
