@import '../foundation-6.4.4-rc1/scss/components/button';

@mixin bloomies-disabled-button {
  &[disabled]{
    background-color: $bloomiesGrayLighter;
    color: $bloomiesWhite;
    border: rem-calc(1) solid $bloomiesGrayLighter;
    &:hover {
      color: $bloomiesWhite;
      background-color: $bloomiesGrayLighter;
    }
  }
}

@mixin bloomies-button {
  @include foundation-button;
  .button, button {
    min-height: rem-calc(45);
    letter-spacing: rem-calc(1.3);
    font-size: rem-calc(14);
    font-weight: 700;
    text-transform: uppercase;
    border: rem-calc(1) solid $bloomiesBlack;
    &.secondary {
      @include bloomies-disabled-button;
      &:hover {
        background-color: $bloomiesWhite;
      }
      &:focus {
        background-color: $bloomiesWhite;
      }
    }

    &.small {
      min-height: rem-calc(35);
      font-size: rem-calc(13);
      padding: rem-calc(11 30);
    }

    @include bloomies-disabled-button;
  }
  
  button {
    cursor: pointer;
  }

  a.button {
    text-decoration: none;
  }
}
