@import "../encodedIcons/_bcom-cb-check";
@import "../encodedIcons/_bcom-cb-check-disabled";
@import "../encodedIcons/_bcom-radio-check";
@import "../encodedIcons/_bcom-radio-check-disabled";
@import '../foundation-6.4.4-rc1/scss/forms/checkbox';
@mixin bloomies-form-checkbox {
    @include foundation-form-checkbox;
    [type='checkbox'],
    [type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: rem-calc(22);
        height: rem-calc(22);
        -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
        -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
        transition: box-sh;
        margin: 0;
        padding: 0;
        border: 1px solid $bloomiesGray;
        &:disabled {
            border-color: $bloomiesGray;
            background-color: $bloomiesGrayLightest;
        }
        &:checked {
            background-repeat: no-repeat;
            background-position: center;
            border-color: $bloomiesGray;
            background-color: $bloomiesWhite;
            &:disabled {
                background-color: $bloomiesGrayLightest;
                border-color: $bloomiesGrayLighter;
                color: $bloomiesBlackLightest;
            }
        }
    }
    [type='checkbox']:checked {
        background-image: $bcom-cb-check;
        background-size: 14px;

        &:disabled {
            background-image: $bcom-cb-check-disabled;
        }
    }
    [type='radio'] {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        &:checked {
            background-image: $bcom-radio-check;
            background-size: 12px;
            &:disabled {
                background-image: $bcom-radio-check-disabled;
            }
        }
    }
}
