<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Cache-Control" content="private, max-age=0, no-cache, must-revalidate">
      <meta name="description" content="Free shipping & returns available as well as curbside pickup! Shop online for designer clothing, handbags, accessories, items for the home & more!">
      <meta name="keywords" content="Bloomingdale's, Bloomingdales.com, designer clothing, designer shoes, designer handbags, home furnishings, department store" />
      <meta property="og:title" content="Bloomingdale's – Official Site" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://www.bloomingdales.com" />
      <meta property="og:description" content="FREE Shipping & FREE Returns! Shop at Bloomingdales.com for Fashionable Designer Clothing, Handbags & Shoes, Home, Wedding Registry and more." />
      <meta property="og:image" content="https://assets.bloomingdales.com/navapp/web20/assets/img/header/headerTablet-bloomingdales.png" />
      <meta property="og:site_name" content="Bloomingdale's" />
      <meta property="fb:app_id" content="253137974703583" />
      <meta name="google-site-verification" content="wuapGB8cHQ3Tn78KCAymSh8Bg4AVBKtIs-P6VBM8FYo" />
      <meta name="msvalidate.01" content="62B1745E1E4F6663B8C9FEB46FD77590" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <link href="scss/bloomies.css" rel="stylesheet">

    {{{body}}}

    {{! Load  JS Last so DOM is already present }}
    <script src="javascripts/bundle.js"></script>
  </body>
</html>
