

.module .api-product {
  a {
    text-decoration: none;
  }
}

.api-product {
    float: left;
    position: relative;

    &.temp {
      opacity: 0;
    }
    
    .product-photo {
      border-bottom: 1px solid #000;
      position: absolute;
      bottom: 0;
    }

    a {
      text-decoration: none;
    }

    p {
      text-align: left;
    }

    .product-photo-outer {
    position: relative;
    height: 80%;
    margin-bottom: 14px;
  }

  .product-text-outer {
    position: relative;
    height: 20%;
  }

  .product-title {
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    font-size: em(12);
    line-height: em(16);
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: .4em;
    letter-spacing: 1px;
  }

  .product-description {
    font-family: 'Avenir', sans-serif;
    font-size: em(14);
    line-height: em(17);
  }

  .price {
    color: #808080;
    font-family: 'Avenir', sans-serif;
    font-weight: normal;
    font-size: em(12);
    letter-spacing: .5px;
    text-transform: uppercase;
  }

  
  }