/* utilities */
@mixin align-cols($pos) {
	-webkit-box-pack: $pos;
	-webkit-justify-content: $pos;
	-ms-flex-pack: $pos;
	justify-content: $pos;
}

/* align center needed to center columns within foundation xy grid*/
.align-center, .small-align-center {
	@include align-cols(center);
}

.medium-align-center {
	@media screen and #{breakpoint(medium up)} {
		@include align-cols(center);
	}
}

.large-align-center {
	@media screen and #{breakpoint(large up)} {
		@include align-cols(center);
	}
}

.align-left, .small-align-left {
	@include align-cols(left);
}

.medium-align-left {
	@media screen and #{breakpoint(medium up)} {
		@include align-cols(left);
	}
}

.large-align-left {
	@media screen and #{breakpoint(large up)} {
		@include align-cols(left);
	}
}

.align-right, .small-align-right {
	@include align-cols(right);
}

.medium-align-right {
	@media screen and #{breakpoint(medium up)} {
		@include align-cols(right);
	}
}

.large-align-right {
	@media screen and #{breakpoint(large up)} {
		@include align-cols(right);
	}
}

/* grid container for foundation xy grid */
.grid-container {
	margin: 0 auto;
	padding: 0;
}

/* source ordering for foundation xy grid */
@for $i from 1 through $grid-column-count {
	.small-order-#{$i} {
	  -webkit-box-ordinal-group: #{$i + 1};
	  -webkit-order: #{$i};
	  -ms-flex-order: #{$i};
	  order: #{$i};
      border: 1px solid #00ff00;
	}

	@media screen and #{breakpoint(medium up)} {
  		.medium-order-#{$i} {
	      -webkit-box-ordinal-group: #{$i + 1};
	      -webkit-order: #{$i};
	      -ms-flex-order: #{$i};
	      order: #{$i};
    	}
  	}

  	@media screen and #{breakpoint(large up)} {
  		.large-order-#{$i} {
	      -webkit-box-ordinal-group: #{$i + 1};
	      -webkit-order: #{$i};
	      -ms-flex-order: #{$i};
	      order: #{$i};
    	}
  	}
}
